body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  box-shadow: black 20px 10px 50px;
}

button {
  background-color: var(--orange);
  border-radius: 15px;
  padding: 8px;
  width: 100px;
  border: black solid 2px;
  transition: 200ms transform;
}
button:hover {
  cursor: pointer;
  transform: translateY(2px);
}
